<div class="col-md-6 card" >
  <div class="well well-sm" >
    <div class="row" >
      <div class="col-md-4" >
        <img ng-src="{{ user.photo | defaultImage:'./avatar.png' }}"
             alt=""
             class="img-rounded img-responsive" />
      </div >
      <div class="col-md-8" >
        <h4 >
          {{ user.votingname }}
        </h4 >
        <i>{{ user.fullname }}</i>
        <p >
          <small >
            <i class="fa fa-users" ></i >
            {{ user.position }}
          </small>
          <br />
          <i class="fa fa-slack" ></i >
          {{ user.number }}
          <br />
          <i class="fa fa-flag" ></i >
          {{ user.party.acronym }} {{ user.coalition === user.party.acronym ? '' : '(' + user.coalition + ')'}}
        </p >

<!--         <button type="button" class="btn btn-default btn-sm" ui-sref="edit({email:user.email})">
          <i class="fa fa-pencil"></i>&nbsp;Edit
        </button> -->
      </div >
    </div >
  </div >
</div >